###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Cache directories
!var/cache/.gitkeep
!var/logs/.gitkeep

# Chamilo configuration
/app/config/parameters.yml
/app/config/add_course.conf.php
/app/config/auth.conf.php
/app/config/course_info.conf.php
/app/config/events.conf.php
/app/config/mail.conf.php
/app/config/portfolio.conf.php
/app/config/profile.conf.php
/app/config/configuration.php

/app/bootstrap.php.cache

# Courses
app/courses/*

# Home
app/home/*

# Upload content
app/upload/*

# Logs and databases #
*.log

# Composer
composer.lock

# IDE settings
.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*

# Plugins config files
plugin/bbb/config.vm.php

# Cron temp files
main/cron/incoming/*
plugin/vchamilo/templates/*
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
