{% extends "@ChamiloTheme/Layout/base-layout.html.twig" %}

{% block page_content %}
    <div class="row">
        {#  Right column #}
        <div class="col-md-3 menu-column">
            {% block chamilo_sidebar %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('ChamiloThemeBundle:Sidebar:userPanel')) }}
                    {{ render(controller('ChamiloThemeBundle:Sidebar:searchForm')) }}
                {% endif %}
                {# Sidebar menu #}
                {{ render(controller('ChamiloThemeBundle:Sidebar:menuKnp', {'request' : app.request })) }}
            {% endblock %}
        </div>
        {#  Left column #}
        <div class="col-md-9">
            {% autoescape false %}
                {{ content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
