{% extends "@ChamiloTheme/Layout/base-layout.html.twig" %}

{% block page_content %}
    {% if js is defined %}
        {% autoescape false %}
        {% for item in js %}
            {{ item }}
        {% endfor %}
        {% endautoescape %}
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% autoescape false %}
                {{ content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}

