{% if show_course_shortcut is not null %}
    <div class="nav-tools">
        {{ show_course_shortcut }}
    </div>
{% endif %}
<section id="content-section">
    <div class="container">
        {% block breadcrumb %}
            {{ breadcrumb }}
        {% endblock %}

        {% block body %}
            {{ content }}
        {% endblock %}
    </div>
</section>
